body{
    background-color: #E4E0E1;
}
h1{
    text-align: center;
    margin-bottom: 1em;
    font-size: 50px;
    color: #493628;
}
p{
    margin-top: 10em;
}
nav{
    background-color: #D6C0B3;
    
}
.tablo-ayari{
    background-color: #D6C0B3;
    width: 25%; 
    margin-left: auto;
    margin-right: auto;
}
td{
    text-align:center ;
}
.logo-ayari{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 1500px;
    width: 1500px;
}
#hakkimizda{
    margin-top: 3em;   
}
.menu{
    color: #ffffff;
    background-image: url(/img/1.jpg);
    padding: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    margin-bottom: auto;
}
