body{
    background-color: #E4E0E1;
}
h1{
    text-align: center;
    margin-bottom: 1em;
    font-size: 50px;
    color: #493628;
}
p{
    margin-top: 6em;
}
nav{
    background-color: #D6C0B3;
    
}
.tablo-ayari{
    background-color: #D6C0B3;
    width: 25%; 
    margin-left: auto;
    margin-right: auto;
    td{
        text-align:center ;
    }
}

.logo-ayari{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 150px;
    width: 150px;
}
#hakkimizda{
    margin-top: 12em;   
}
.menu{
    color:black;    
    background-image: url(/img/3.jpg);
    padding: 15%;
    padding-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    margin-bottom: auto;
    text-align: center;
    width: 85%;
    
    td{
        
        text-align: right;
    }
    th{
        text-align: right;
    }
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
